body{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    background-image: url(../img/aesteti.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo{
    text-decoration: underline;
}

#carouselExampleControls {
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    border: dashed 5px rgb(1, 78, 1);
    box-shadow: 1px 1px 5px black;
}