body{
    width: 100%;
    background-color: aqua;
    background-image: url(../img/aesteti.jpg);
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
} 

.titulo{
    text-decoration: underline;
}

#carouselExampleControls {
    margin: 0 auto;
    width: 70%;
    border: dashed 5px rgb(1, 78, 1);
    box-shadow: 1px 1px 5px black;
}

.carousel-item > img{
    position: relative;    
    height: 400px;
    max-height: 600px;
}
.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-brand,.dropdown-item {
    color: #ffc107;
}